.content {
  width: 100%;
  flex: 1 1 100%;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card__content:hover .select {
  display: block;
}

.text {
  font-weight: 700;
}
